language: python
services:
  - docker
env:
  - ENV=centos7_nginx
  - ENV=centos6
  - ENV=centos6_py27_nginx
  - ENV=ubuntu1404_nginx
  - ENV=debian8_nginx
  - ENV=centos6_py27_ius_nginx
  - ENV=ubuntu1604_nginx

before_install:  
  - sudo apt-get update
  - sudo DEBIAN_FRONTEND=noninteractive apt-get install -y -o Dpkg::Options::="--force-confdef" -o Dpkg::Options::="--force-confold" docker-engine
  - sudo apt-get -y install shunit2
script:
    - cd linux/test
    - ./docker-build.sh $ENV
    - if [[ "$ENV" =~ "centos7" ]]; then ./test_services.sh; fi
    # run the unit tests
    - ./test_utils.sh
    - cd ..
    - ./autogenerate.sh
    # Sadly, no test for OS X here.
