[Unit]
Description=OMERO.web
Requires=nginx.service

[Service]
User=omero
Type=forking
#PIDFile=/home/omero/omero/var/django.pid
Restart=on-failure
RestartSec=10
Environment="OMERODIR=/home/omero/OMERO.server"
ExecStart=/home/omero/omeroenv/bin/omero web start
ExecStop=/home/omero/omeroenv/bin/omero web stop

[Install]
WantedBy=multi-user.target
